schwifty
termcolor
marshmallow
pdfplumber
sv_ttk
tkcalendar
future
Pygments
docutils
cffi
Pillow
pip
toml
cryptography
Wand
chardet
pycparser
setuptools
sepaxml
./pynami
platformdirs==4.3.6
pyinstaller
