schwifty>=2022.7.0
termcolor~=1.1.0
marshmallow~=3.14.1
pdfplumber~=0.6.0
sv_ttk
tkcalendar~=1.6.1

future~=0.18.2
Pygments~=2.11.0
docutils~=0.17.1
cffi~=1.15.0
PySide2~=5.15.2.1
Pillow~=9.0.0
pip~=22.2
toml~=0.10.2
cryptography~=36.0.1
Wand~=0.6.7
chardet~=4.0.0
pycparser~=2.21
setuptools~=49.2.1
pynami~=0.3.1
sepaxml~=2.5.0